h1,
ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    background-color: darkorchid;
    color: white;
    border-radius: 40px;
}

ul {
    font-size: large;
    color: black;
}